@model CarWorkshop.Database.Order
@{
    ViewBag.Title = "Zamówienie";
}
@Html.Partial("_PageHeader", "Zamówienie " + Model.OrderNumber)
<div id="checkout-summary">
    <div class="row">
        <div class="col-sm-3 text-right">
            <b>Kontakt</b>
        </div>
        <div class="col-sm-9">
            @Model.Email
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right">
            <b>Adres dostawy</b>
        </div>
        <div class="col-sm-9">
            @Model.Name <br />
            @Model.Address <br />
            @Model.PostCode @Model.City
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3 text-right">
            <b>Zamówienie</b>
        </div>
        <div class="col-sm-9">
            @foreach (var o in Model.OrderProducts)
            {
                <div class="row">
                    <div class="col-xs-12">
                        @o.Product.ProductName - @o.Count szt.
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3 text-right">
            <b>Typ dostawy</b>
        </div>
        <div class="col-sm-9">
            @Model.DeliverType.Name
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3 text-right">
            <b>Typ płatności</b>
        </div>
        <div class="col-sm-9">
            @Model.PaymentType.Name
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3 text-right">
            <b>Do zapłaty</b>
        </div>
        <div class="col-sm-9">
            @Model.GetTotal() zł
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-sm-3 text-right">
            <b>Status</b>
        </div>
        <div class="col-sm-9">
            @CarWorkshop.Helpers.StatusHelper.StatusToString(Model.State)
        </div>
    </div>


    <div class="row" style="margin-top:30px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            @if(Model.State == CarWorkshop.Database.OrderState.NEW && Model.PaymentTypeId == 1)
            {
                <a class="btn btn-primary" href="@Model.GetDotpayRequestString()">Zapłać przez DotPay</a>
            }
        </div>
    </div>
</div>
